/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* Estilos de menú */
.icono-menu {
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.icono-menu img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont-menu {
    background-color: rgb(42, 42, 42);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -400px;
    transition: all .5s ease;
    z-index: 100;
}

.cont-menu ul {
    padding: 100px 0 20px;
    list-style: none;
}

.cont-menu ul li {
    color: white;
    display: block;
    font-size: 25px;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
}

.cont-menu.active {
    left: 0;
}