* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

/* Estilos para el ícono del Menú */
.icono-menu {
    margin: 40px 50px;
    position: relative;
    z-index: 10;
}

.icono-menu img {
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

/* Estilos para el contenedor del Menú */
.cont-menu {
    background-color: rgb(42, 42, 42);
    box-shadow: 2px 0px 5px 2px rgb(66, 66, 66);
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
    z-index: 100;
}

/* Estilos por agregar en JavaScript */
.active {
    transform: translate(-600px);
}

/* Estilos para el listado del Menú */
.cont-menu ul {
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont-menu ul li {
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont-menu ul li:hover {
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
}