* {
    background-color: #424242;
}

a {
    color: orange;
}

.gren {
    color: #2ecc71;
    margin-top: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #fff;
}

.box {
    border-radius: 10px;
    box-shadow: #141313;
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #3d3d3d;
}

.box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type=text],
.box input[type=email],
.box input[type=password] {
    border: 2px solid #3498db;
    border-radius: 24px;
    color: white;
    display: block;
    margin: 20px auto;
    outline: none;
    padding: 14px 10px;
    text-align: center;
    transition: 0.25s;
    width: 200px;
    background: none;
}

.box input[type=text]:focus,
.box input[type=email]:focus,
.box input[type=password]:focus {
    border-color: #2ecc71;
    width: 280px;
}

.box button[type=submit] {
    border: 2px solid #2ecc71;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    display: block;
    margin: 20px auto;
    outline: none;
    padding: 14px 40px;
    text-align: center;
    transition: 0.25s;
    background: none;
}

.box button[type=submit]:hover {
    background: #2ecc71;
}