/*Estilos de productos*/
.container-products {
    display: grid;
    gap: 20px;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    transition: transform 0.3s ease;
    /* animación */
}

.product {
    border: 2px outset #efb810;
    border-radius: 10px;
    height: auto;
    /* height: 100%; */
    padding: 20px;
    text-align: center;
}

.product {
    border: 2px outset #efb810;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
    text-align: center;
}

.product__img {
    max-height: none;
    object-fit: cover;
    width: 100%;
}

.product__title {
    font-size: 0.9em;
    text-align: center;
}

.product__price {
    font-weight: bold;
}

.product-btn {
    color: #000000;
    display: block;
    padding: 10px 20px;
    border: 2px outset #efb810;
    text-align: center;
    text-decoration: none;
}

.product__icon {
    display: block;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.pagination button {
    margin: 0 10px;
    background-color: #ddd;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.pagination button:hover {
    cursor: pointer;
}